#summary {
	font-size: 14px;
	line-height: 1.5;
}

#summary p.collapse:not(.show) {
	height: 42px !important;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#summary p.collapsing {
	min-height: 42px !important;
}

#summary a.collapsed:after  {
	content: '+ Read More';
}

#summary a:not(.collapsed):after {
	content: '- Read Less';
}

.OrangeHeader {
	color: darkorange;
}

.GreyHeader {
	color: darkgrey;
}

.jumbotron {
	background-image: url("images/IMG_20190126_025728514") !important;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.footer {
	background-color: darkorange;
}